#scoreboardContainer {
    width:100%;
    text-align:center;
}

#scoreboard {
    margin-left:120px;
    width:500px;
    background-color:white;
}

#scoreboard p {
    color:black;
    font-size:25px;
}

#clearScoreBoardButton {
    margin-left:120px;
    background-color:blue;
    color:white;
    width:200px;
    height:50px;
    font-size:30px;
    font-weight:bold;
}