#scoreboardContainer {
	position:fixed;
    top: 50%;
	left: 50%;
    margin-left:-550px;
    margin-top:-250px;
    width:1100px;
    height:500px;
    background-color:rgba(0,0,0,0.5);
    border-radius: 10px;
    border: none;
    color:white;
    padding:10px 20px;
}

#scoreboard {
    margin:30px 10px 10px 10px;
}

#scoreboard h3 {
    font-size:30px;
    font-weight:normal;
    text-align:center;
    margin-bottom:10px;
}

#easyScoreboard {
    float:left;
    width: 360px;
}

#mediumScoreboard {
    float:left;
    width: 360px;
}

#hardScoreboard {
    float:left;
    width: 360px;
}

.score {
    font-size:20px;
    padding-left:8px;
}

.latestScore {
    font-weight:bold;
}

.evenRow {
    background-color:rgba(100,100,100,0.2);
}

.oddRow {
    background-color:rgba(200,200,200,0.2);
}

#resetScoresButton {
    position:absolute;
    bottom:15px;
    right:50px;
    color:white;
    width:200px;
    height:50px;
    border:2px solid white;
    border-radius:10px;
    text-align:center;
}

#resetScoresButton h2 {
    padding:0px;
    margin-top:5px;
}