.gameboard p {
    margin-left: 120px;
}

#body {
    background-color: #3a3a3a;
}

.tile {
   	border-radius: 6px;
    transition: transform 0.2s linear, 
                background-position 0s linear 0.1s,
                opacity 0.2s ease-in 0.5s;
}

#gameContainer
{
	position:fixed;
	top: 50%;
	left: 50%;
}

#GameClock {
    color: orange;
    font-size:xx-large;
    font-family: Consolas;
    position:absolute;
    right:0px;
    top:0px;
}