.gameboard p {
    margin-left: 120px;
}

#body {
    background-color: #3a3a3a;
}

.tile {
   	border-radius: 6px;
    transition: transform 0.5s linear, 
                background-position 0.1s linear 0.24s,
                opacity 1s ease-in 0.5s;
}

#gameContainer
{
	position:fixed;
	top: 50%;
	left: 50%;
}