.homepage section[role=main] {
    margin-left: 120px;
}

.PageBackground {
    width:auto;
    height:497px;
}

.ButtonParentContainer {
    position:absolute;
    top:50%;
    left:50%;
    height:500px;
    width:744px;
    margin-top:-210px;
    margin-left:-372px;
}

.ButtonContainer {
    width:744px;
    height:208px;
    transition: transform 0.2s linear;
    border-radius:20px;
}

.RightFill {
    position:absolute;
    margin-left:800px;
    width:2000px;
    height:497px;
}

.FloatLeft {
    float:right;
}

.ButtonText {
    padding-top:20px;
    text-align:center;
    font-size:50px;
    color:#fff;
}

#StartGameButton {
    margin:10px;
    background-image:url('/images/btn_play_N.png');
    background-repeat:no-repeat;
}

#ScoreBoardButton {
    margin:10px;
    background-image:url('/images/btn_score_N.png');
    background-repeat:no-repeat;
}

#HomeBackground {
    margin-top:50px;
    background-repeat:no-repeat;
    background-position-x:197px;
}

#MainLogo {
    width:148px;
    height:38px;
    background-image:url('/images/main_logo.png');
    background-repeat:no-repeat;
    margin-left:110px;
    margin-top:50px;
}

@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
        margin-left: 20px;
        background-color: red;
    }
}

@media screen and (-ms-view-state: portrait) {
    .homepage section[role=main] {
        margin-left: 100px;
    }
}
